@use "variables" as v;

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px;
    gap: 30px;
    place-items: center;
    .grid-item{
        border: solid 4px;
        border-color: v.$color1;
        border-radius: 15px;
        width: 20vw;
        height: 30vh;
        text-align: center;
        .links{
            text-decoration: none;
            color: v.$color1;
            place-content: center;

            .portadas{
                max-height: 20vh;
            }

        }

    }
    .grid-item:hover{
        border: solid 4px;
        border-color: v.$color2;
    .links:hover{
            text-decoration: none;
            color: v.$color2;
    }
    
}
}
/*MediaQueri para celular*/

@media (min-width: 320px) and (max-width:430px){

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px;
    gap: 30px;

    .grid-item{
        border: solid 4px;
        border-color: v.$color1;
        border-radius: 15px;
        width: 65vw;
        height: 25vh;
        text-align: center;
        .links{
            text-decoration: none;
            color: v.$color1;
            place-items: center;
            font-size: 14px;

            .portadas{
                height: 20vh;
                max-width: 90vw;
            }

        }

    }
    .grid-item:hover{
        border: solid 4px;
        border-color: v.$color2;
    .links:hover{
            text-decoration: none;
            color: v.$color2;
            text-align: center;
    }
    
}

}
}