
.fotos{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 99%;

    .carousel{
    $carousel-transition-duration: .4s;
        .carousel-inner{
            .carousel-item{
                .d-block{
                    width: 100vw;
                }
            }
        }
    }
}