@use "variables" as v;

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    .animate__animated{

        margin: 20px;
        gap: 20px;
        height:15vh;
        place-items: center;
    }    
}
@media (min-width: 320px) and (max-width:430px){

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: center;
    width: 420px;
    .foto_categoria{
        margin: 10px;
        gap: 10px;
        height:12vh;
    }    
    }
}
