@use "variables" as v;
@use "footer";


.box-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .redes{
        height: 6vh;
        width: auto;
        }
        .rnumero:hover{
            background-color: #25D366;

        }
            .message-box{
                .message-input{
                        width: 30vw;
                }

            }
}