@use "variables" as v;
.volver{
        display: flex;
    justify-content: center;
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
.foto{

    margin: 20px;
    gap: 20px;
    height:25vh;
    place-items: center;
}    
}
@media (min-width: 320px) and (max-width:430px){
.grid1{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

.foto{

    margin: 20px;
    gap: 20px;
    height:25vh;
}    
}

}