@use "variables" as v;
@use "footer";
table{
        display: flex;
justify-content: center;
        .quiensoy{
        display: flex;
        flex-direction: column;
            td{
                border: solid 3px;
                margin: 5px;
                align-items: center;
                text-align: center;

            }
        }
}
@media (min-width: 320px) and (max-width:430px){
table{
        display: flex;
justify-content: center;
        .quiensoy{
        display: flex;
        flex-direction: column;
        width: 350px;
            td{
                border: solid 3px;
                margin: 5px;
                align-items: center;
                text-align: center;
                iframe{
                     width:330px;
                     height:315px;
                    }
            }
        }
        
}


}